Repository CodeSystem2022/ChacoDevsTeam-4SEM, pull requests merged in 2023-09, with the labels that each got.

#86 PYTHON-If,else y ciclos#69
  PYTHON/clase01/tipo_bool.py
Labels: Python

#85 Calculos#80
  JAVASCRIPT/e-commerce2022/client/js/cart.js
Labels: JavaScript

#117 JS-displayCartCounter#100
  JAVASCRIPT/e-commerce2022/client/js/cart.js
  JAVASCRIPT/e-commerce2022/client/js/index.js
  JAVASCRIPT/e-commerce2022/client/media/index.html
  JAVASCRIPT/e-commerce2022/client/media/style.css
Labels: JavaScript

#123 JAVA - Estudiante PT 2 #110
  JAVA/Leccion01/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
Labels: Java

#142 PYTHON-Metodo join()
  PYTHON/clase01/metodo_join.py
Labels: Python

#150 JAVA - Abrir configurar y agregar logback-spring.xml
  JAVA/Leccion03/tienda_libros/src/main/resources/logback-spring.xml
Labels: Java

#174 PYTHON-Avanzamos desde una Tupla#158
  PYTHON/clase01/dar_formato_str.py
Labels: Python
